body{
    margin: 0;
    font-family: arial;
}
.navbar{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    height: 80px;
}
.navbar .first-bar{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar .second-bar{
    display: flex;
    gap: 20px;
    height: 100%;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    
}
.navbar .second-bar a{
    text-decoration: none;
    color: black;
}




.navbar .third-bar{
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .third-bar div{
    background: rgba(219, 219, 219, 0.553);
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    padding: 0px 10px;

}

.third-bar div i{
    color: black;
}

.third-bar div input{
    font-size: 15px;
    width: 400px;
    background: transparent;
    border: none;
}

.third-bar div input:focus{
    outline: none;
}

.navbar .fourth-bar{
    display: flex;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.navbar .fourth-bar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.fourth-bar div:hover{
    color: blue;
}

.navbar .fourth-bar div i{
    margin-top: 10px;
    margin-bottom: -20px;
}
.navbar .fourth-bar .number1{
    border: 1px solid black;
    display: flex;
    height: 15px;
    width: 15px;
    align-items: center;
    margin-left: -42px;
    margin-top: -30px;
    font-size: x-small;
    border-radius: 50%;
    border: none;
    color: white;
    background: rgb(199, 1, 1);
}
.number1 p{
    margin-top: 1px;
}
.profile3{
    margin-left: 14px;
}
.navbar .fourth-bar .number2{
    border: 1px solid black;
    display: flex;
    visibility: hidden;
    height: 15px;
    width: 15px;
    align-items: center;
    margin-left: -35px;
    margin-top: -30px;
    font-size: x-small;
    border-radius: 50%;
    border: none;
    color: white;
    background: rgb(199, 1, 1);
}
.number2 p{
    margin-top: 1px;
}

.main-contain{
    display: flex;
    height: 100%;
}

.body-contain{
    display: flex;
    height: 100%;
    width: 1200px;
    margin-left: 200px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.body-contain div{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    margin: 20px;
}

.body-contain div img{
    height: 250px;
    width: 250px;
}

.card #ratting{
    margin-top: 0px;
}
.card #name{
    margin-top: -5px;
}
.card #name-ref{
    margin-top: -15px;
}
.card #price{
    margin-top: 0px;
}
.card #addbtn{
    margin-top: -10px;
    padding: 5px 0px;
    font-size: large;
    border: none;
    border-radius: 10px;
    background: lightgreen;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card #addbtn:hover{
    background: rgba(46, 153, 46, 0.737);
}
.card #addwish{

    margin-top: 5px;
    padding: 5px 0px;
    font-size: large;
    border: none;
    border-radius: 10px;
    background: red;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}
.card #addwish:hover{
    background: rgba(46, 153, 46, 0.737);
}


.display_message{
    position: fixed;
    display: none;
    top: 640px;
    left: 1300px;
    padding: 0px 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 2px 4px rgba(0,0,0,.3);
    background: rgb(124, 207, 124);
    transition: all 0.3s ease-in-out;
}

.price-contain{
    margin-left:0px; 
    align-items:center; 
    gap:10px;
}

#discount{
    color: rgba(255, 0, 0, 0.656);
}


