body{
    margin: 0;
    font-family: arial;
}
.navbar{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    height: 80px;
}
.navbar .first-bar{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar .second-bar{
    display: flex;
    gap: 20px;
    height: 100%;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    
}
.navbar .second-bar a{
    text-decoration: none;
    color: black;
}




.navbar .third-bar{
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .third-bar div{
    background: rgba(219, 219, 219, 0.553);
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    padding: 0px 10px;

}

.third-bar div i{
    color: black;
}

.third-bar div input{
    font-size: 15px;
    width: 400px;
    background: transparent;
    border: none;
}

.third-bar div input:focus{
    outline: none;
}

.navbar .fourth-bar{
    display: flex;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.navbar .fourth-bar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.fourth-bar div:hover{
    color: blue;
}

.navbar .fourth-bar div i{
    margin-top: 10px;
    margin-bottom: -20px;
}
.navbar .fourth-bar .number1{
    border: 1px solid black;
    display: flex;
    height: 15px;
    width: 15px;
    align-items: center;
    margin-left: -42px;
    margin-top: -30px;
    font-size: x-small;
    border-radius: 50%;
    border: none;
    color: white;
    background: rgb(199, 1, 1);
}
.number1 p{
    margin-top: 1px;
}
.profile3{
    margin-left: 14px;
}
.navbar .fourth-bar .number2{
    border: 1px solid black;
    display: flex;
    visibility: hidden;
    height: 15px;
    width: 15px;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
    font-size: x-small;
    border-radius: 50%;
    border: none;
    color: white;
    background: rgb(199, 1, 1);
}
.number2 p{
    margin-top: 1px;
}

.main-container{
    height: 100%;
    display: flex;
}
.main-container .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 50%;
    margin-left: 10%;
    margin-top: 3%;
}
.card{
    display: flex;
    gap: 30px;
    border: 1px solid rgba(141, 141, 141, 0.71);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

.content .card div img{
    height: 150px;
    width: 150px;
}
#name-ref{
    width: 400px;
}


.add,.sub{
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 50%;
    background: rgb(160, 149, 244);
    color: white;
}
.add:hover,.sub:hover{
    background: rgba(160, 149, 244, 0.562);
}

.close{
    right: 0px;
    height: 40px;
    width: 30px;
    text-align: center;
    font-size: 25px;
    margin-left: -10px;
    cursor: pointer;
}
.close span:active{
    color: rgba(128, 128, 128, 0.816);
}

.popup{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 200px;
    display: none;
}

.alert_item{
    width: 350px;
    height: 170px;
    position: fixed;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
.alert_item h4{
    font-size: 20px;
    color: rgb(118, 7, 42);
}
.alert_item div{
    display: flex;
    gap: 50px;
}
.alert_item div button{
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn_cancle{
    background: rgb(176, 1, 1);
    color: white;
}
.btn_cancle:hover{
    background: rgb(222, 1, 1);
}
.btn_cancle:active{
    transform: scale(1.02);
}
.btn_ok{
    background: green;
    color: white;
}
.btn_ok:hover{
    background: rgb(1, 170, 1);
}
.btn_ok:active{
    transform: scale(1.02);
}


.calculation{
    position: sticky;
    border: 1px solid rgba(156, 156, 156, 0.547);
    right: 100px;
    border-radius: 5px;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.185); */
    padding: 20px;
    width: 450px;
    height: 400px;
    top: 100px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}
.calculation_card{
    font-size: large;
    border-bottom: 1px solid black;
    
}
.calculation_card div{
    display: flex;
    margin-left: 40px;
    gap: 10px;
    align-items: center;
}
.total_amount{
    display: flex;
    margin-left: 40px;
    gap: 10px;
    align-items: center;
}

.actual_amount p{
    color: green;
}
.discount_amount p{
    color: red;
}
.shipping_amount p{
    color: green;
}
.total_amount p{
    color: green;
}
.items p{
    font-size: larger;
    color: green;
}

.div_pay{
    display: flex;
    justify-content: center;
}

.btn_pay{
    width: 70%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    background: rgba(241, 97, 121, 0.655);
    /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.264); */
    transition: all 0.4s ease;
    cursor: pointer;
}
.btn_pay:hover{
    background: rgba(241, 97, 121, 0.482);
}
.btn_pay:active{
    transform: scale(1.02);
}